{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title%}Board{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fingerprintjs2@1.8.0/dist/fingerprint2.min.js"></script>
<script>
new Fingerprint2().get(function(result) {
  var browser_info = {'id': result};
  $.ajax({
        type:'GET',
        url:'{{ url_for("main.index" )}}',
        data:browser_info,
        dataType:'json',
        success:function(browser_info){
            alert(JSON.stringify(browser_info));
            alert(browser_info['test'])
        }
    });
})
</script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, 
        {% if current_user.is_authenticated %}
            {{ current_user.username }}
        {% else %}
            Stranger
        {% endif %}!
        </h1>
    </div>
    <div>
        {{ wtf.quick_form(form) }}
    </div>
    <ul>
        {% for comment in comments %}
        <li>
            <div style="float:right">{{ moment(comment.updated_at).fromNow() }}</div>
            <div>author : {{ comment.user.username }}</div>
            <div style="font-size: 2em">{{ comment.content }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}